{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        No licence for you matty - you can't even juggle!
      </h1>

      <p>Stop clowning around and get your self over to youtube and then come back here.</p>

    </div>
  </div>

{% endblock %}
